:root {
  --player-border-color: hsla(0, 0%, 100%, 0.3);
  --player-text-color: hsla(0, 0%, 100%, 0.9);
  --hover-color: hsla(0, 0%, 100%, 0.16);
  --border-radius: 5px;
  --border: 2px solid white;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

/* Body and Main */

body {
  font-family: "Ink Free", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
}

/* Header */

header {
  padding-block: 0.7em;
}

/* Main */

main {
  flex: 1;
  display: grid;
  grid-template: 1fr / 1fr 3fr 1fr;
}

#left-panel,
#right-panel,
#board {
  flex: 1;
}

/* Side Panels */

#left-panel,
#right-panel {
  display: grid;
  grid-template: auto / 1fr;
  align-content: space-between;
  justify-content: center;
  border: var(--border);
}

#left-panel > div,
#right-panel > div {
  align-self: center;
}

/* Right Panel */

#right-panel {
  align-content: space-around;
}

.player-score-info {
  font-size: 1.5rem;
}

#score {
  font-size: 4rem;
}

/* Left Panel */

#left-panel {
  padding-top: 1em;
}

#reset-buttons-container {
  align-self: flex-end;
}

.player-options-container,
.player-options-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input.player-name {
  width: 85%;
  text-align: center;
  background-color: black;
  color: var(--player-text-color);
  border-bottom: 2px solid var(--player-border-color);
}

select.player-type {
  width: 85%;
  text-align: center;
  background-color: black;
  color: var(--player-text-color);
  border-radius: var(--border-radius);
}

#switch-button-container {
  font-size: small;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

#switch-btn {
  width: 2rem;
  aspect-ratio: 1;
  background-color: black;
  border: 2px solid var(--player-border-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

#reset-buttons-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  gap: 0.5em;
  padding: 0 0.3em 0.3em;
}

#reset-buttons-container button {
  flex: 1;
  max-block-size: 90%;
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid var(--player-border-color);
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  padding: 0.2em 0.4em;
}

select.player-type:hover,
#switch-btn:hover,
#reset-buttons-container button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

/* Media Query Panels Layout */

@media only screen and (max-width: 850px) {
  #reset-buttons-container {
    flex-direction: column;
    align-items: stretch;
  }
}

@media only screen and (max-width: 550px) {
  main {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  #board-container {
    grid-column: 1 / 3;
    grid-row-start: 1;
  }

  #left-panel,
  #right-panel {
    border: var(--border);
    border-top: none;
  }

  #left-panel {
    border-right: none;
  }

  #board-container {
    border: var(--border);
  }
}

/* Board */

#board-container {
  padding: 1em;
  display: grid;
  grid-template: 1fr / 1fr;
  align-content: center;
  justify-content: center;
  border-block: var(--border);
}

#board {
  display: grid;
  grid-template:
    repeat(3, clamp(70px, 20vw, 150px))
    / repeat(3, clamp(70px, 20vw, 150px));
  align-items: stretch;
  justify-content: center;
  align-content: center;
}

#board .field {
  border: none;
  border-right: var(--border);
  border-bottom: var(--border);
}

#board .no-r {
  border-right: none;
}

#board .no-b {
  border-bottom: none;
}
