:root {
  --orange: rgba(227, 76, 38, 1);
  --hazy-orange: rgba(227, 76, 38, 0.2);
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-weight: 500;
  word-wrap: break-word;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

/* Body and Main */

body {
  font-family: arial;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-image: url(./assets/board.jpg);
  background-size: cover;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Board */

#board {
  display: grid;
  grid-template:
    repeat(3, clamp(70px, 20vw, 150px))
    / repeat(3, clamp(70px, 20vw, 150px));
  align-items: stretch;
  justify-content: center;
  align-content: center;
}

.field {
  border: none;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: bold;
}

.no-r {
  border-right: none;
}

.no-b {
  border-bottom: none;
}

/* Menu */

#menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(210px, 60vw, 450px);
  gap: 1rem;
}

#level-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 5rem;
}

#level-options fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#marker-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#marker-options button {
  padding: 0.2rem 5rem;
  border-radius: 0.3rem;
  background-color: var(--hazy-orange);
  border: 1px solid var(--orange);
  transition: all 0.2s ease-in-out;
}

#marker-options button:hover,
button.selected {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.selected {
  background-color: var(--orange) !important;
}

/* Buttons */

#buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.3rem 0;
}

#buttons-container button {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.3rem;
  width: 12rem;
  padding: 0.2rem 0;
}

#buttons-container button:hover {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* Modal */

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(5px);
}

#modal div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-content {
  color: black;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.modal-open {
  display: block !important;
  animation: fade-in 300ms ease-in;
}

.modal-closed {
  display: block !important;
  animation: fade-out 300ms ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

/* Copyright */

#copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.7rem;
}
